<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Meu Help!</title>
    <link rel="shortcut icon" href="~/images/logomeu.png" style="width:96px;height:96px">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-4.4.1-dist/css/bootstrap.css" />
</head>
<body>
    <nav class="navbar navbar-light bg-light navbar-expand-lg bg-light">
        <a class="navbar-brand" href="#">
            <img src="~/images/logomeu.png" width="60" height="60" class="d-inline-block align-top" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cliente
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-item nav-link" asp-area="" asp-controller="Physicalpersons" asp-action="Index">Pessoa física</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Empresa
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-item nav-link" asp-area="" asp-controller="Collaborators" asp-action="Index">Colaborador</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="Legalpersons" asp-action="Index">Pessoa jurídica</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Prestador de serviço
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-item nav-link" asp-area="" asp-controller="Partners" asp-action="Index">Pessoa física</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="Serviceproviders" asp-action="Index">Pessoa júridica</a></>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Vendas
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-item nav-link" asp-area="" asp-controller="Saleschannels" asp-action="Index">Canal de venda</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="Representatives" asp-action="Index">Vendedor</a>
                </div>
            </div>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Discounts" asp-action="Index">Desconto</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Shippingways" asp-action="Index">Forma de envio</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Plans" asp-action="Index">Planos</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Typeservices" asp-action="Index">Tipo de serviço</a></li>
            </ul>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/js/jquery-3.4.1.slim.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/bootstrap-4.4.1-dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
